@import "./variables.scss";

.app-chats {
	display: flex;
	flex-direction: column;
	height: 100vh;

	&__header-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 1.429rem 0px 2.143rem;
		background: $green;
		min-height: 6.429rem;
	}

	&__text-logo {
		font-size: 2.143rem;
		padding: 0.357rem;
	}

	&__size-image {
		position: relative;
		width: 2.857rem;
		height: 2.857rem;
		border-radius: 50%;
		overflow: hidden;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__box-search {
		display: flex;
		align-items: center;
		padding: 0px 1.429rem 0px 0.714rem;
		min-height: 3.571rem;
		font-size: 1.429rem;
		border-bottom: 0.214rem solid $bodyBackground;

		& input {
			flex: 1 1 auto;
			font-size: 2.143rem;
		}
		
		&>*:not(:last-child) {
			margin: 0px 0.857rem 0px 0px;
		}
	}

	&__all-show {
		display: flex;
		align-items: center;

		&>*:not(:last-child) {
			margin: 0px 0.357rem 0px 0px;
		}
	}

	&__all-text:hover {
		cursor: pointer;
	}

	&__traingle-down {
		width: 0;
		height: 0;
		border-left: 0.25rem solid transparent;
		border-right: 0.25rem solid transparent;
		border-top: 0.5rem solid black;
	}

	&__chat-list {
		flex: 1 1 auto;
		overflow: auto;
		padding: 3.571rem 0px 0px 0px;
	}
	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 2.857rem 0px 3.929rem;
		background: $green;
		min-height: 4.643rem;

		& > *{
			background: $green;
		}
	}
}
