.chat-list {
	&--active {
			background: #cc00ff!important;
		}
	
	&--name-group {
		& span{
			color: red;
			font-size: 3.125rem;
		}
	}
	
	&__box {
		display: flex;
		min-height: 6.25rem;
		align-items: center;
		&:hover{
			cursor: pointer;
			background: #f7f6f6;
			&.chat-list--active {
				background: #cc00ff;
			}
		}
	}
	
	&__icon-avatar {
		flex: 0 1 9.063rem;
		display: flex;
		justify-content: center;
	}

	&__icon-box {
		position: relative;
	}

	&__size-image {
		position: relative;
		overflow: hidden;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: 50%;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__circle-active {
		display: none;

		&--active {
			display: block;
			width: 0.625rem;
			height: 0.625rem;
			border-radius: 50%;
			background: $green;
			position: absolute;
			right: 0;
			bottom: 0.625rem;
		}
	}

	&__text-box {
		width: 15.938rem;
		max-height: 6.875rem;
		overflow: hidden;
		word-wrap: break-word;
	}

	&__name-text {
		padding: 0.313rem;
	}

	&__message {
		padding: 0.313rem;
	}

	&__time-box {
		flex: 0 1 9.063rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		&>*:not(:last-child) {
			margin: 0rem 0rem 0.313rem 0rem;
		}
	}

	&__time-text {
		padding: 0.313rem;
	}

	&__circle-delivered {
		display: none;
		
		&--delivered {
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			border-radius: 50%;
			background: $green;
		}
	}
}

.selected-text {
	background: #00ff2f;
}
