.popup-create-group {
	&.open{
		opacity: 1;
		visibility: visible;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		width: 50rem;
		background: $bodyBackground;
		padding: 2.5rem;
		min-height: 25rem;
		border-radius: 1.875rem;
		text-align: right;

		& input {
			border-bottom: 0.063rem solid $black;
			background: $bodyBackground;
			font-size: 3.125rem;
			color: $black;
			transition: all 0.4s ease 0s;
			&::placeholder {
				font-size: 3.125rem;
				color: $black;
				transition: all 0.4s ease 0s;
			}
			&:hover {
				border-bottom: 0.063rem solid $white;
				&::placeholder {
						color: $white;
					}
				
			}
		}

		& :not(.popup-create-group__head,
		.popup-create-group__image,
		.popup-create-group__img-cirlce,
		.popup-create-group__img,
		.popup-create-group__shape-image,
		.popup-create-group__input-name-group,
		.popup-create-group__input-description){
			font-size: 2.813rem;
			color: $black;
			background: $bodyBackground;
			margin: 0rem 2.5rem 0rem 0rem;
			padding: 0.625rem 1.25rem;
			transition: all 0.5s ease 0s;
			&:hover {
				background: $white;
			}
		}
	}
	
	&__head {
		display: flex;
		align-items: center;
	}

	&__image {
		display: flex;
		flex: 0 1 9.375rem;
		height: 9.375rem;
		border-radius: 50%;
		background: $white;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
	}

	&__file-foto {
		display: none;
	}

	&__img {
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		object-fit: cover;
		&.change-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__shape-image {
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		object-fit: cover;
		z-index: 50;
	}

	&__input-name-group {
		margin: 0rem 0rem 0rem 4.375rem;
		height: 4.375rem;
		width: 28.125rem;
	}

	&__input-description {
		width: 100%;
		margin: 2.5rem 0rem;
	}
}