$grey: #a0a0a0;
$green: #03ff42;
$white: #ffffff;
$black: #000000;
$yellow: #fff700;
$red: #ff0000;
$blue: #0000ff;
$bodyBackground: #ace1ea;
$text-background-left: #7ee3f9;
$name-group: #b6b6b6;
$bg-opacity: rgba(0, 0, 0, 0.5);
$active-bg: #cc00ff;
$hover-bg: #f7f6f6;
$selected-text: #00ff2f;
